/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap'); */
:root {
  --color-default: #c2c7c0; /* side nav button color on active */
  --color-second: #89b6ed;
  --color-white: #fff;
  --color-light: #f6f8fb;
  --color-gray: #fbfbfb;
  --color-gray-dark: #acafb5;
  --color-black: #4A4A4A;
  --color-second-accent: #a1c5f0; 
}

.bar {
  width: 20px;
  height: 2px;
  margin: 5px 0;
  transition: 0.4s;
  border-radius: 5px;
  margin-right: 20px;
}
.sidebar {
    min-height: 100vh;
    width: 78px;
    padding: 6px 14px;
    z-index: 105;
    background-color: #343A40; 
    transition: all .5s ease;
    position: fixed;
    top: 70px;
    left: 0;
  }


.sidebar.open{
width: 350px;
}



.sidebar .side_logo_details{
height: 60px;
display: flex;
align-items: center;
position: relative;
background-color: #343A40;
}

.sidebar .side_logo_details .icon{
opacity: 0;
transition: all 0.5s ease ;
}

.sidebar .side_logo_details .side_logo_name{
/* color:var(--color-black); */
font-size: 22px;
font-weight: 600;
opacity: 0;
transition: all .5s ease;
color: white;
background-color: #343A40;
}

.sidebar.open .side_logo_details .icon,
.sidebar.open .side_logo_details .side_logo_name{
opacity: 1;
}

.side_logo_name{
margin-left: 30px;
text-wrap: nowrap;
background-color: none;
}

.sidebar .side_logo_details #btn{
position: absolute;
top:50%;
right: 0;
transform: translateY(-50%);
font-size: 23px;
text-align: center;
cursor: pointer;
transition: all .5s ease;
color: white;
}

.sidebar.open .side_logo_details #btn{
text-align: right;
}

.sidebar i{
/* color:var(--color-black); */
color: white; /* Side Nav Button Color  */
height: 60px;
line-height: 60px;
min-width: 50px;
font-size: 25px;
text-align: center;
/* background-color: #343A40;  */

}

.sidebar .side_nav-list{
margin-top: 20px;
height: 100%;
color: black;
background-color: #343A40; /* dagdag lang */
}

.sidebar li{
position: relative;
margin:8px 0;
list-style: none;
height: 40px;
 

}

.sidebar li .sidenav_tooltip{
position: absolute;
top:-20px;
left:calc(100% + 15px);
z-index: 3;
background-color: var(--color-white);
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
padding: 6px 14px;
font-size: 15px;
font-weight: 400;
border-radius: 5px;
white-space: nowrap;
opacity: 0;
pointer-events: none;

}

.sidebar li:hover .sidenav_tooltip{
opacity: 1;
pointer-events: auto;
transition: all 0.4s ease;
top:50%;
transform: translateY(-50%);
}

.sidebar.open li .sidenav_tooltip{
display: none;
}


.sidebar input::placeholder{
color:var(--color-light)
} 

.sidebar.open input{
width: 100%;
padding: 0 20px 0 50px;
}

.sidebar li a{
display: flex;
height: 100%;
width: 100%;
align-items: center;
text-decoration: none;
background-color: #343A40;
position: relative;
transition: all .5s ease;
z-index: 12;
color: #f8f4ff; 
}

.sidebar li.active {
color: white; 
background-color: var(--color-black);
}

.sidebar li a::after{
content: "";
position: absolute;
width: 100%;
height: 100%;
transform: scaleX(0);
/* background-color: var(--color-white); */
background-color: #c2c7c0;
border-radius: 5px;
transform-origin: left;
z-index: -2;
}

.sidebar li a:hover::after{
transform: scaleX(1);
}

.sidebar li a .link_name{
color: #fff; /*  font color side nav link name */
font-size: 15px;
font-weight: 500;
white-space: nowrap;
pointer-events: auto;
transition: all 0.4s ease;
pointer-events: none;
opacity: 0;
background-color: none;
}

.sidebar a.active,
.sidebar a.active i,
.sidebar li a.active .link_name{
color: var(--color-white);
background-color: var(--color-default);
border-radius: 10px;
cursor:default;
pointer-events: none;
}

.sidebar li a:not(.active):hover .link_name,
.sidebar li a:not(.active):hover i,
.sidebar a:not(.active):hover {
color: #fff; /*  font color sa hover sa side nav */
background-color: none;
}
.sidebar.open li a .link_name{
opacity: 1;
}

.sidebar li i{
height: 35px;
line-height: 35px;
font-size: 18px;
border-radius: 5px;
}

.sidebar li.profile{
position: fixed;
height: 60px;
width: 78px;
left: 0;
bottom:-8px;
padding:10px 14px;
overflow: hidden;
transition: all .5s ease;
}

.sidebar.open li.profile{
width: 250px;
}

.sidebar .profile .profile_details{
display: flex;
align-items: center;
flex-wrap:  nowrap;
}

.sidebar li img{
height: 45px;
width: 45px;
object-fit: cover;
border-radius: 50%;
margin-right: 10px;
}

.sidebar li.profile .name,
.sidebar li.profile .designation{
font-size: 15px;
font-weight: 400;
color:var(--color-black);
white-space: nowrap;
}

.sidebar li.profile .designation{
font-size: 12px;
}

.sidebar .profile #log_out{
position: absolute;
top:50%;
right: 0;
transform: translateY(-50%);
background-color: var(--color-white);
width: 100%;
height: 60px;
line-height: 60px;
border-radius: 5px;
cursor: pointer;
transition: all 0.5s ease;
}

.sidebar.open .profile #log_out{
width: 50px;
background: none;
}

.home-section{
position: relative;
background-color: var(--color-body);
min-height: 100vh;
top:0;
left:78px;
width: calc(100% - 78px);
transition: all .5s ease;
z-index: 2;
}

.home-section .text{
display: inline-block;
color:var(--color-black);
font-size: 25px;
font-weight: 500;
margin: 18px;
}

.sidebar.open ~ .home-section{
left:250px;
width: calc(100% - 250px);
}
